{% extends "layoutadmin.twig" %}
{% block main %}
<main id="main">
  <div class="row mt-1 mb-0">
  <div class="col-2 list-ben" id="menu-ben">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-add-list" data-toggle="list" href="#add" role="tab" aria-controls="add">Añadir Producto</a>
      <a class="list-group-item list-group-item-action" id="list-edit-list" data-toggle="list" href="#edit" role="tab" aria-controls="edit">Editar Producto</a>
      <a class="list-group-item list-group-item-action" id="list-delete-list" data-toggle="list" href="#delete" role="tab" aria-controls="delete">Borrar Producto</a>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active text-center" id="add" role="tabpanel" aria-labelledby="list-add-list">
        <h2>AÑADIR PRODUCTO</h2>
        <form action="/benbol/addproductos" class="col-4 offset-4" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input type="text" class="form-control campo-ben rounded" name="producto" aria-describedby="emailHelp" placeholder="Nombre Producto" required>
              <input type="number" step="0.01" class="form-control campo-ben rounded" name="precio" aria-describedby="emailHelp" placeholder="Precio Producto" required>
              <input type="number" step="1" class="form-control campo-ben rounded" name="cantidad" aria-describedby="emailHelp" placeholder="Cantidad" required>
              <input type="text" class="form-control campo-ben rounded" name="codigo" aria-describedby="emailHelp" placeholder="Codigo Producto" required>
              <textarea class="form-control campo-ben rounded" name="detalle" placeholder="Detalle Producto" cols="52" rows="2"></textarea>
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tallas</label> 
              <br>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="4" value="4">
                <label class="form-check-label" for="4">4</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="6" value="6">
                <label class="form-check-label" for="6">6</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="8" value="8">
                <label class="form-check-label" for="8">8</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="10" value="10">
                <label class="form-check-label" for="10">10</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="12" value="12">
                <label class="form-check-label" for="12">12</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="14" value="14">
                <label class="form-check-label" for="14">14</label>
              </div>
              <br>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="S" value="S">
                <label class="form-check-label" for="S">S</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="M" value="M">
                <label class="form-check-label" for="M">M</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="L" value="L">
                <label class="form-check-label" for="L">L</label>
              </div>
              <div class="form-check form-check-inline">
                <input name="talla[]" class="form-check-input" type="checkbox" id="XL" value="XL">
                <label class="form-check-label" for="XL">XL</label>
              </div>
              <br>     
              <label class="campo-ben my-1 mr-2" for="categories">Categoria</label>
                   <select name="categoria" class="custom-select my-1 mr-sm-2" id="categories">
                      <option value="1">Niño Prendas de Punto</option>
                      <option value="2">Niño Chaquetas y Abrigos</option>
                      <option value="3">Niño Pantalones y Vaqueros</option>
                      <option value="4">Niño Camisetas y Sudaderas</option>
                      <option value="5">Niño Recien Nacido</option>
                      <option value="6">Niña Prendas de Punto</option>
                      <option value="7">Niña Chaquetas y Abrigos</option>
                      <option value="8">Niña Leggins</option>
                      <option value="9">Niña Vestidos y Monos</option>
                      <option value="10">Niña Recien Nacida</option>
                      <option value="11">Hombre Chaquetas de Puntoy Jerseis</option>
                      <option value="12">Hombre Chaquetas y Abrigos</option>
                      <option value="13">Hombre Pantalones y Vaqueros</option>
                      <option value="14">Hombre Camisetas y Sudaderas</option>
                      <option value="15">Hombre Ropa Interior y Pijamas</option>
                      <option value="16">Mujer Chaquetas de Punto y Jerseis</option>
                      <option value="17">Mujer Chaquetas y Abrigos</option>
                      <option value="18">Mujer Pantalones y Faldas</option>
                      <option value="19">Mujer Camisas y Blusas</option>
                      <option value="20">Mujer Ropa Interior y Pijamas</option>
                    </select>
              <br>
                <label for="imagen">Imagen Producto</label>
                <input type="file" name="imagenprod" class="form-control-file" id="imagen">          
            </div>
            <button type="submit" class="rounded btn btn-ben">AÑADIR</button>
        </form>
      </div>
      <div class="tab-pane fade text-center" id="edit" role="tabpanel" aria-labelledby="list-edit-list">
        <h2>EDITAR PRODUCTO</h2>
        <form action="/benbol/editproductos" class="col-4 offset-4" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <input type="number" class="form-control campo-ben rounded" name="id" aria-describedby="emailHelp" placeholder="ID Producto" required>
              <input type="text" class="form-control campo-ben rounded" name="producto" aria-describedby="emailHelp" placeholder="Nombre Producto" required>
              <input type="number" step="0.01" class="form-control campo-ben rounded" name="precio" aria-describedby="emailHelp" placeholder="Precio Producto" required>
              <textarea class="form-control campo-ben rounded" name="detalle" placeholder="Detalle Producto" cols="52" rows="2" required></textarea>
              <br>
              <label class="campo-ben my-1 mr-2" for="categories">Categoria</label>
                   <select name="categoria" class="custom-select my-1 mr-sm-2" id="categories">
                      <option value="1">Niño Prendas de Punto</option>
                      <option value="2">Niño Chaquetas y Abrigos</option>
                      <option value="3">Niño Pantalones y Vaqueros</option>
                      <option value="4">Niño Camisetas y Sudaderas</option>
                      <option value="5">Niño Recien Nacido</option>
                      <option value="6">Niña Prendas de Punto</option>
                      <option value="7">Niña Chaquetas y Abrigos</option>
                      <option value="8">Niña Leggins</option>
                      <option value="9">Niña Vestidos y Monos</option>
                      <option value="10">Niña Recien Nacida</option>
                      <option value="11">Hombre Chaquetas de Puntoy Jerseis</option>
                      <option value="12">Hombre Chaquetas y Abrigos</option>
                      <option value="13">Hombre Pantalones y Vaqueros</option>
                      <option value="14">Hombre Camisetas y Sudaderas</option>
                      <option value="15">Hombre Ropa Interior y Pijamas</option>
                      <option value="16">Mujer Chaquetas de Punto y Jerseis</option>
                      <option value="17">Mujer Chaquetas y Abrigos</option>
                      <option value="18">Mujer Pantalones y Faldas</option>
                      <option value="19">Mujer Camisas y Blusas</option>
                      <option value="20">Mujer Ropa Interior y Pijamas</option>
                    </select>         
            </div>
            <button type="submit" class="rounded btn btn-ben">ACTUALIZAR</button>
        </form>
      </div>
      <div class="tab-pane fade text-center" id="delete" role="tabpanel" aria-labelledby="list-delete-list">
        <h2>BORRAR PRODUCTO</h2>
        <div class="container">
          <div class="row">
        {% for product in products %}
          {% if product.activo==1%}
          <div class="col-4 text-center">
            <div class="card text-center" style="width: 18rem;">
              <img src="uploads/{{product.imagen}}" width="300" >
              <div class="card-body">
              <h5 class="card-title">{{product.nombre}}</h5>
              <p class="card-text">{{product.detalle}}</p>
              <p class="card-text">Precio Bs. {{product.precio}}</p>
              <a href="/benbol/deleteproducto/{{product.idProducto}}" class="btn btn-ben">Borrar</a>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>    
</main> 
{% endblock %}
  